<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.MDGround.HaiLanPrint"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <application
        android:name=".application.MDGroundApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.welcome.StartingActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/login">
        </activity>
        <activity
            android:name=".activity.login.ForgetPasswordActivity"
            android:label="@string/forget_password"/>
        <activity
            android:name=".activity.login.SignUpActivity"
            android:label="@string/sign_up"/>
        <activity
            android:name=".activity.login.ProtocolActivity"
            android:label="@string/sign_up_protocol"/>
        <activity
            android:name=".activity.login.ImproveInformationActivity"
            android:label="@string/improve_information"/>

        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/main_activity"/>
        <activity
            android:name=".activity.cloudphotos.CloudOverviewActivity"
            android:label="@string/cloud_album"/>
        <activity
            android:name=".activity.cloudphotos.CloudDetailActivity"
            android:label="@string/cloud_album"/>
        <activity
            android:name=".activity.uploadimage.UploadImageActivity"
            android:label="@string/select_photos_upload"/>
        <activity
            android:name=".activity.selectimage.SelectAlbumActivity"
            android:label="@string/choose_photo"/>
        <activity
            android:name=".activity.selectimage.SelectImageActivity"
            android:label="@string/choose_photo"/>
        <activity
            android:name=".activity.photoprint.PrintPhotoChooseInchActivity"
            android:label="@string/print_photo"/>
        <activity
            android:name=".activity.photoprint.PrintPhotoChoosePaperNumActivity"
            android:label="@string/choose_paper_num"/>
        <activity
            android:name=".activity.photoprint.PrintPhotoMeasurementDescription"
            android:label="@string/measurement_description"/>
        <activity
            android:name=".activity.magiccup.MagicCupChooseColorActivity"
            android:label="@string/magic_cup"/>
        <activity
            android:name=".activity.lomocard.LomoCardChooseNumActivity"
            android:label="@string/lomo_card"/>
        <activity
            android:name=".activity.puzzle.PuzzleStartActivity"
            android:label="@string/puzzle"/>
        <activity
            android:name=".activity.photoedit.PhotoEditActivity"
            android:label="@string/edit"/>

        <!-- ShareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105309113"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 自定义Glide Module注册 -->
        <meta-data
            android:name="com.MDGround.HaiLanPrint.glide.MDGroundGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>