<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MDGround.HaiLanPrint">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <application
        android:name=".application.MDGroundApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.welcome.StartingActivity"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.welcome.GuideActivity"
            android:label="@string/guide_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ForgetPasswordActivity"
            android:label="@string/forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ProtocolActivity"
            android:label="@string/sign_up_protocol"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ImproveInformationActivity"
            android:label="@string/improve_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/main_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cloudphotos.CloudOverviewActivity"
            android:label="@string/cloud_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cloudphotos.CloudDetailActivity"
            android:label="@string/cloud_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.uploadimage.UploadImageActivity"
            android:label="@string/select_photos_upload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectimage.SelectAlbumBeforeEditActivity"
            android:label="@string/choose_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectimage.SelectImageBeforeEditActivity"
            android:label="@string/choose_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectimage.SelectAlbumWhenEditActivity"
            android:label="@string/choose_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectimage.SelectImageWhenEditActivity"
            android:label="@string/choose_photo"
            android:screenOrientation="portrait" />

        <!-- 首页pager1的功能 -->
        <activity
            android:name=".activity.photoprint.PrintPhotoChooseInchActivity"
            android:label="@string/print_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.photoprint.PrintPhotoChoosePaperNumActivity"
            android:label="@string/choose_paper_num"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.photoprint.PrintPhotoMeasurementDescriptionActivity"
            android:label="@string/measurement_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.postcard.PostcardStartActivity"
            android:label="@string/postcard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.postcard.PostcardEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.templateedit.GlobalTemplateEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.magazinealbum.MagazineAlbumChooseInchActivity"
            android:label="@string/magazine_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.magazinealbum.MagazineForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.magazinealbum.MagazineEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.artalbum.ArtAlbumChooseInchActivity"
            android:label="@string/art_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.artalbum.ArtAlbumForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.artalbum.ArtAlbumEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pictureframe.PictureFrameStartActivity"
            android:label="@string/picture_frame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.calendar.CalendarChooseOrientationActivity"
            android:label="@string/calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.calendar.CalendarForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.calendar.CalendarEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.template.TemplateStartCreateActivity"
            android:label="@string/calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.template.SelectTemplateActivity"
            android:label="@string/choose_template"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pictureframe.PictureFrameEditActivity"
            android:label="@string/template_detail"
            android:screenOrientation="portrait" />

        <!-- 首页pager2的功能 -->
        <activity
            android:name=".activity.phoneshell.PhoneShellStartActivity"
            android:label="@string/phone_shell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.phoneshell.PhoneShellForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.phoneshell.PhoneShellSelectBrandActivity"
            android:label="@string/select_phone_brand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.phoneshell.PhoneShellSelectModelActivity"
            android:label="@string/select_phone_model"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.phoneshell.PhoneShellEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poker.PokerChooseInchActivity"
            android:label="@string/poker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poker.PokerForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poker.PokerEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.puzzle.PuzzleStartActivity"
            android:label="@string/puzzle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.puzzle.PuzzleEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.magiccup.MagicCupChooseColorActivity"
            android:label="@string/magic_cup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.magiccup.MagicForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.magiccup.MagicCupPhotoEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lomocard.LomoCardChooseNumActivity"
            android:label="@string/lomo_card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lomocard.LomoCardForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lomocard.LomoCardEditActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.engraving.EngravingChooseInchActivity"
            android:label="@string/engraving"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.engraving.EngravingForIllustrationActivity"
            android:label="@string/illustration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.engraving.EngravingMeasurementDescriptionActivity"
            android:label="@string/measurement_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.engraving.EngravingChoosePaperNumActivity"
            android:label="@string/choose_paper_num"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.PaymentPreviewActivity"
            android:label="@string/pay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.PaymentSuccessActivity"
            android:label="@string/payment_success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.coupon.ChooseCouponActivity"
            android:label="@string/choose_coupon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.coupon.MyCouponActivity"
            android:label="@string/my_coupons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryaddress.ChooseDeliveryAddressActivity"
            android:label="@string/delivery_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryaddress.EditDeliveryAddressActivity"
            android:label="@string/edit_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.PersonalCenterActivity"
            android:label="@string/personal_center"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.messagecenter.MessageCenterActivity"
            android:label="@string/message_center"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.messagecenter.MessageDetailActivity"
            android:label="@string/message_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.MyCreditActivity"
            android:label="@string/my_credits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orders.MyOrdersActivity"
            android:label="@string/my_orders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myworks.MyWorksActivity"
            android:label="@string/my_works"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.ChangeNameActivity"
            android:label="@string/change_nick_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.ChildInformationActivity"
            android:label="@string/child_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.ManageAddressActivity"
            android:label="@string/myaddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orders.OrderDetailActivity"
            android:label="@string/order_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.EditAddressActivity"
            android:label="@string/edit_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orders.ApplyRefundActivity"
            android:label="@string/apply_refund"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myworks.WorkDetailsActivity"
            android:label="@string/my_works"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.AboutUsActivity"
            android:label="@string/about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.TermServiceActivity"
            android:label="@string/terms_of_service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.FeedBackActivity"
            android:label="@string/feedback" />
        <activity
            android:name=".activity.personalcenter.PersonalInformationActivity"
            android:label="@string/personal_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personalcenter.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- ShareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105309113" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.MDGround.HaiLanPrint.PUSH_ACTION" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.MessageReceiver">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE"/>
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK"/>
            </intent-filter>
        </receiver>

        <!-- 强制下线服务 -->
        <service android:name=".service.ForceOfflineService"/>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100206552" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A7PB9Z2L33TW" />

        <!-- 自定义Glide Module注册 -->
        <meta-data
            android:name="com.MDGround.HaiLanPrint.glide.MDGroundGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>